<div class="container mt-3">
  <h4>List Pembayaran</h4>

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" [class.active]="activeTab === 'invoices'" (click)="setTab('invoices')">
        Pembayaran Pelanggan
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [class.active]="activeTab === 'payments'" (click)="setTab('payments')">
        Pembayaran Supplier
      </a>
    </li>
  </ul>

  <div *ngIf="activeTab === 'invoices'" class="mt-3">
    <form [formGroup]="form">
      <div class="row mt-3">
        <div class="col-md-3">
          <label for="startDateReceive" class="form-label">Tanggal Mulai</label>
          <input 
            type="date" 
            class="form-control" 
            formControlName="startDateReceive"
            [class.is-invalid]="form.get('startDateReceive')?.invalid && form.get('startDateReceive')?.touched"
          >
        </div>
        <div class="col-md-3">
          <label for="endDateReceive" class="form-label">Tanggal Akhir</label>
          <input 
            type="date" 
            class="form-control" 
            formControlName="endDateReceive"
            [class.is-invalid]="form.get('endDateReceive')?.invalid && form.get('endDateReceive')?.touched"
          >
        </div>
        <div class="col-md-3 align-self-end">
          <button class="btn btn-primary btn-sm me-2" (click)="applyFilter('invoices')">Filter</button>
          <button class="btn btn-secondary btn-sm" (click)="resetFilter('invoices')">Reset</button>
        </div>
      </div>
    </form>
    <br>
    <!-- <h6>Pembayaran Customer</h6> -->
    <table class="table table-bordered table-sm">
      <thead class="table-light">
        <tr>
          <!-- <th>InvoiceID</th> -->
          <th>Nomor Invoice</th>
          <th>Total Amont</th>
          <th>Tanggal pembayaran</th>
          <th>Metode pembayaran</th>
          <th>Referensi</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let inv of invoices">
          <!-- <td>{{ inv.id }}</td> -->
          <td>{{ inv.invoiceNumber }}</td>
          <td>Rp {{ inv.amount| number:'1.0-0' }}</td>
          <td>{{ inv.paymentDate | date:'dd MMM yyyy':'+0700' }}</td>
          <td>{{ inv.paymentMethod }}</td>
          <td>{{ inv.referenceNumber }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="activeTab === 'payments'" class="mt-3">
    <form [formGroup]="form">
      <div class="row mt-3">
        <div class="col-md-3">
          <label for="startDatePayment" class="form-label">Tanggal Mulai</label>
          <input 
            type="date" 
            class="form-control" 
            formControlName="startDatePayment"
            [class.is-invalid]="form.get('startDatePayment')?.invalid && form.get('startDatePayment')?.touched"
          >
        </div>
        <div class="col-md-3">
          <label for="endDatePayment" class="form-label">Tanggal Akhir</label>
          <input 
            type="date" 
            class="form-control" 
            formControlName="endDatePayment"
            [class.is-invalid]="form.get('endDatePayment')?.invalid && form.get('endDatePayment')?.touched"
          >
        </div>
        <div class="col-md-3 align-self-end">
          <button class="btn btn-primary btn-sm me-2" (click)="applyFilter('payment')">Filter</button>
          <button class="btn btn-secondary btn-sm" (click)="resetFilter('payment')">Reset</button>
        </div>
      </div>
    </form>
    <br>
    <!-- <h6>Pembayaran Supplier</h6> -->
    <table class="table table-bordered table-sm">
      <thead class="table-light">
        <tr>
          <!-- <th>Receive ID</th> -->
          <th>Nomor Invoice</th>
          <th>Total Amont</th>
          <th>Tanggal pembayaran</th>
          <th>Metode pembayaran</th>
          <th>Referensi</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let inv of payments">
          <!-- <td>{{ inv.id }}</td> -->
          <td>{{ inv.invoiceNumber }}</td>
          <td>Rp {{ inv.amount| number:'1.0-0' }}</td>
          <td>{{ inv.paymentDate | date:'dd MMM yyyy' }}</td>
          <td>{{ inv.paymentMethod }}</td>
          <td>{{ inv.referenceNumber }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
