<nav class="bg-dark text-white p-3" style="width: 250px; height: 100vh;">
  <h5 class="mb-4 text-center">WMS</h5>
  <!-- <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link text-white" routerLink="/dashboard">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" routerLink="/users">Pengelolaan Pengguna</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" routerLink="/products">Produk</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" routerLink="/customers">Pelanggan</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" routerLink="/suppliers">Supplier</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" routerLink="/locations">Lokasi</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" routerLink="/sales">Penjualan</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" routerLink="/purchases">Pembelian</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" routerLink="/packing">Packing</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" routerLink="/receive">Penerimaan Barang</a>
    </li>
    
  </ul> -->

  <ul class="nav flex-column">
    <li *ngFor="let item of filteredMenu" class="nav-item">
      <a class="nav-link text-white" [routerLink]="item.link">{{ item.label }}</a>
    </li>
  </ul>
</nav>

