<nav class="bg-dark text-white p-3" style="width: 250px; height: 100vh;">
  <h5 class="mb-4">WMS Menu</h5>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link text-white" routerLink="/dashboard">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" routerLink="/products">Produk</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" routerLink="/customers">Pelanggan</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" routerLink="/suppliers">Supplier</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" routerLink="/sales">Penjualan</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" routerLink="/purchases">Pembelian</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" routerLink="/reports">Laporan</a>
    </li>
  </ul>
</nav>

